<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
     body {
    background: #435d7d;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
    .back {
    text-decoration: none!important
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 mb-5">
      <div class="col-lg-3 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
        </h1>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="back">
                <a href="/admin/userbiodata"><h3> &lt; Back</h3></a>
            </div>
            <div class="d-flex text-center mb-3">
              
               <h1>Update Data</h1>
            </div>
            <form action ="/admin/userbiodata/update/<%= i.id %>" method="post">

              <!-- Full Name input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Full Name</label>
                <input type="hidden" name="id" value="<%= i.id %>">
                <input type="full_name" name="full_name" id="full_name" class="form-control" value="<%= i.full_name %>" required/>
              </div>

              <!-- Username input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Birth Date</label>
                <input type="date" name="birth_date" id="birth_date" class="form-control" value="<%= i.birth_date %>" required/>
              </div>

               <!-- Username input -->
               <div class="form-outline mb-4">
                <label class="form-label" for="gender">Gender</label>
                <input type="text" name="gender" id="gender" class="form-control" value="<%= i.gender %>" required/>
              </div>


              <!-- User Game ID input -->
             <div class="form-outline mb-4">
                <label class="form-label" for="user_game_id">User Game ID</label>
                <input type="integer" name="user_game_id" id="user_game_id" class="form-control" value="<%= i.user_game_id %>" required/>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Update
              </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

